//common HTML tags
@font-face {
    font-family: Omnes;
    src: url(https://miayotlan.com/miayotlan/Framework7-Icons//fonts/omnes.otf);
}

@font-face {
    font-family: Somatic;
    src: url(../fonts/somatic.otf);
}

@font-face {
    font-family: bigjohn;
    src: url(../fonts/bigjohn.otf);
}

@font-face {
    font-family: lovelo;
    src: url(../fonts/lovelo.otf);
}

@font-face {
    font-family: bavro;
    src: url(../fonts/bavro.ttf);
}

@font-face {
    font-family: 'Framework7 Icons';
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Framework7Icons-Regular.eot");
    src: local('Framework7 Icons'), local('Framework7Icons-Regular'), url("fonts/Framework7Icons-Regular.woff2") format("woff2"), url("fonts/Framework7Icons-Regular.woff") format("woff"), url("fonts/Framework7Icons-Regular.ttf") format("truetype"), url("fonts/Framework7Icons-Regular.svg") format("svg");
}

.f7-icons, .framework7-icons {
    font-family: 'Framework7 Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    font-feature-settings: "liga";
}

body {
    font-family: Somatic, Helvetica;
}

.someSpace {
    margin-top: 20px;
}

.jumbotron {
    background-color: #282d3f;
    padding: 1em;
    border-radius: 21px;
    margin-bottom: -5%;
}

.space {
    margin-bottom: -30px;
}

.statusbar-overlay {
    background-color: #243447;
}

@media screen and (max-width: 414px) {
    .title {
        font-family: bavro;
        font-weight: bolder;
        font-size: 14vw;
        color: transparent;
        background: linear-gradient(to left, #1e5799, #2ce0bf, #76dd2c, #dba62b, #ff1493, #1e5799);
        background-size: 1000px 100%;
        animation: bg 35s linear infinite;
        background-clip: text;
        -webkit-background-clip: text;
        text-align: center;
        margin-top: -10%;
    }
    .homeicon {
        height: 13em;
        width: auto;
        border-radius: 25%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -10%;
        margin-bottom: 3vh;
    }
}

@media screen and (min-width: 415px) {
    .title {
        font-family: bavro;
        font-weight: bolder;
        font-size: 10vw;
        color: transparent;
        background: linear-gradient(to left, #1e5799, #2ce0bf, #76dd2c, #dba62b, #ff1493, #1e5799);
        background-size: 1000px 100%;
        animation: bg 35s linear infinite;
        background-clip: text;
        -webkit-background-clip: text;
        text-align: center;
        margin-top: -5%;
    }
    .homeicon {
        width: 15em;
        border-radius: 25%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -5%;
        margin-bottom: 3vh;
    }
}

.white {
    color: white;
}

.appicon {
    border-radius: 25%;
}

@keyframes bg {
    0% {
        background-position-x: 0;
    }
    100% {
        background-position-x: 10000px;
    }
}

.item-media {
    border-radius: 25px;
}

.newstitle {
    margin-top: 30px;
    text-align: center;
    font-family: Anders;
}

.appinstallicon {
    border-radius: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 10em;
    width: 10em;
    box-shadow: 0px 0px 20px 2px black;
}

.installbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1em;
    width: 160px;
    margin-bottom: 10px;
}

.sharebutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 150px;
    background-color: #0083ff;
    text-align: center;
    border-radius: 21px;
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    color: white;
    margin-bottom: 10px;
}

.category {
    border-radius: 22px;
}

.changelog {
    height: 50px;
    width: 50px;
    margin-left: 0.5em;
    margin-right: 2em;
}

.versionchange {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.appstatus {
    border-radius: 50%;
}

#newstabicon {
    -webkit-animation-duration: 8s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
}

.tweakboxcreators {
    text-align: center;
}

.usefullinks {
    border-radius: 21%;
}

.happinessscroll {
    color: red;
}

.titleimage {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.5em;
    margin-bottom: 2em;
    width: 20em;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.animationicon {
    display: block;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
}

.animationtitle {
    margin-top: 2em;
    height: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stars {
    margin-left: auto;
    margin-right: auto;
}

#cf {
    position: relative;
    height: 13em;
    width: 13em;
    margin: 0 auto;
}

#cf img {
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
    opacity: 0;
}

.size-22 {
    font-size: 22px
}

.size-25 {
    font-size: 25px
}

.size-29 {
    font-size: 29px
}

.size-50 {
    font-size: 50px
}

.universalsearch {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 11%;
    width: 90%;
}

.dmca-badge {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.color-red {
    color: #FF3A2F
}

.color-check {
    color: #141c26;
    color: #282d3f;
    color: #243447;
}

.dark-layout.body {
    background-color: #292D3E;
}

.dark-layout .navbar, .navbar.dark-layout, .dark-layout .subnavbar, .subnavbar.dark-layout {
    background-color: #243447;
    color: #fff;
}

.dark-layout .navbar:after, .navbar.dark-layout:after, .dark-layout .subnavbar:after, .subnavbar.dark-layout:after {
    background-color: #333;
}

.dark-layout .toolbar, .toolbar.dark-layout {
    background-color: #243447;
    color: #fff;
}

.dark-layout .toolbar:before, .toolbar.dark-layout:before {
    background-color: #333;
}

.dark-layout .picker-modal .toolbar {
    background-color: #131313;
}

.dark-layout .popover .picker-modal .toolbar {
    background: none;
}

.dark-layout .picker-calendar-week-days {
    color: #fff;
    background-color: #131313;
}

.dark-layout .popover .picker-modal .picker-center-highlight:before, .dark-layout .picker-modal.picker-modal-inline .picker-center-highlight:before {
    background-color: #333;
}

.dark-layout .popover .picker-modal .picker-center-highlight:after, .dark-layout .picker-modal.picker-modal-inline .picker-center-highlight:after {
    background-color: #333;
}

.dark-layout .popover .picker-modal .picker-item.picker-selected, .dark-layout .picker-modal.picker-modal-inline .picker-item.picker-selected {
    color: #fff;
}

.dark-layout .popover .picker-modal .picker-calendar-week-days, .dark-layout .picker-modal.picker-modal-inline .picker-calendar-week-days {
    color: #fff;
}

.dark-layout .popover .picker-modal .picker-calendar-day, .dark-layout .picker-modal.picker-modal-inline .picker-calendar-day {
    color: #fff;
}

.dark-layout .popover .picker-modal .picker-calendar-day.picker-calendar-day-prev, .dark-layout .picker-modal.picker-modal-inline .picker-calendar-day.picker-calendar-day-prev, .dark-layout .popover .picker-modal .picker-calendar-day.picker-calendar-day-next, .dark-layout .picker-modal.picker-modal-inline .picker-calendar-day.picker-calendar-day-next {
    color: #777;
}

.dark-layout .popover .picker-modal .picker-calendar-day.picker-calendar-day-disabled, .dark-layout .picker-modal.picker-modal-inline .picker-calendar-day.picker-calendar-day-disabled {
    color: #555;
}

.dark-layout .popover .picker-modal .picker-calendar-day.picker-calendar-day-today span, .dark-layout .picker-modal.picker-modal-inline .picker-calendar-day.picker-calendar-day-today span {
    background: #333;
}

.dark-layout .popover .picker-modal .picker-calendar-day.picker-calendar-day-has-events span:after, .dark-layout .picker-modal.picker-modal-inline .picker-calendar-day.picker-calendar-day-has-events span:after {
    background: #555;
}

.dark-layout .popover .picker-modal .picker-calendar-week-days:after, .dark-layout .picker-modal.picker-modal-inline .picker-calendar-week-days:after, .dark-layout .popover .picker-modal .picker-calendar-row:after, .dark-layout .picker-modal.picker-modal-inline .picker-calendar-row:after {
    background-color: #333;
}

.dark-layout .popover .picker-modal .toolbar~.picker-modal-inner .picker-calendar-months:before, .dark-layout .picker-modal.picker-modal-inline .toolbar~.picker-modal-inner .picker-calendar-months:before, .dark-layout .popover .picker-modal .picker-calendar-week-days~.picker-calendar-months:before, .dark-layout .picker-modal.picker-modal-inline .picker-calendar-week-days~.picker-calendar-months:before {
    background-color: #333;
}

.dark-layout .popover .picker-modal .toolbar:after {
    background-color: #333;
}

.dark-layout .photo-browser .navbar, .dark-layout .views .view[data-page="photo-browser-slides"] .navbar, .dark-layout .photo-browser .toolbar, .dark-layout .views .view[data-page="photo-browser-slides"] .toolbar {
    color: #000;
    background: rgba(247, 247, 247, 0.95);
}

.dark-layout .photo-browser-dark .navbar, .dark-layout .photo-browser-dark .toolbar {
    background: rgba(30, 30, 30, 0.8);
    color: #fff;
}

.dark-layout .tabbar a:not(.active) {
    color: #fff;
}

.dark-layout .page, .dark-layout .login-screen-content, .page.dark-layout, .dark-layout .panel, .panel.dark-layout {
    background-color: #141D26;
    color: #fff;
}

.dark-layout .content-block-title {
    color: #fff;
}

.dark-layout .content-block, .content-block.dark-layout {
    color: #fff;
}

.dark-layout .content-block-inner {
    background: #282d3f;
    color: #fff;
}

.dark-layout .content-block-inner:before {
    background-color: #393939;
}

.dark-layout .content-block-inner:after {
    background-color: #393939;
}

.dark-layout .list-block ul, .list-block.dark-layout ul {
    background: rgba(0, 0, 0, 0);
}

.dark-layout .list-block ul:before, .list-block.dark-layout ul:before {
    background-color: rgba(0, 0, 0, 0);
}

.dark-layout .list-block ul:after, .list-block.dark-layout ul:after {
    background-color: rgba(0, 0, 0, 0);
}

.dark-layout .list-block.inset ul, .list-block.dark-layout.inset ul {
    background: #282d3f;
}

.dark-layout .list-block.notifications>ul, .list-block.dark-layout.notifications>ul {
    background: none;
}

.dark-layout .autocomplete-dropdown {
    background: #282d3f;
}

.dark-layout .autocomplete-dropdown .list-block b {
    color: #fff;
}

.dark-layout .card {
    background: #282d3f;
}

.dark-layout .card-header:after {
    background-color: #393939;
}

.dark-layout .card-footer {
    color: #bbb;
}

.dark-layout .card-footer:before {
    background-color: #393939;
}

.dark-layout .popover, .popover.dark-layout {
    background: rgba(0, 0, 0, 0.8);
}

.dark-layout .popover .popover-angle:after, .popover.dark-layout .popover-angle:after {
    background: rgba(0, 0, 0, 0.8);
}

.dark-layout .popover .list-block ul, .popover.dark-layout .list-block ul {
    background: none;
}

.dark-layout .actions-popover .list-block ul:before {
    background-color: #393939;
}

.dark-layout .actions-popover .list-block ul:after {
    background-color: #393939;
}

.dark-layout .actions-popover .actions-popover-label:after {
    background-color: #393939;
}

.dark-layout li.sorting {
    background-color: #29292f;
}

.dark-layout .swipeout-actions-left a, .dark-layout .swipeout-actions-right a {
    background-color: #444;
}

.dark-layout .item-inner:after, .dark-layout .list-block ul ul li:last-child .item-inner:after {
    background-color: #18416f;
}

.dark-layout .item-after {
    color: #bbb;
}

html:not(.watch-active-state) .dark-layout .item-link:active, html:not(.watch-active-state) .dark-layout label.label-checkbox:active, html:not(.watch-active-state) .dark-layout label.label-radio:active, .dark-layout .item-link.active-state, .dark-layout label.label-checkbox.active-state, .dark-layout label.label-radio.active-state {
    background-color: #29292f;
}

.dark-layout .item-link.list-button:after {
    background-color: #393939;
}

.dark-layout .list-block-label {
    color: #bbb;
}

.dark-layout .item-divider, .dark-layout .list-group-title {
    background: #1a1a1a;
    color: #bbb;
}

.dark-layout .item-divider:before, .dark-layout .list-group-title:before {
    background-color: #393939;
}

.dark-layout .searchbar {
    background-color: rgba(36, 52, 71, 0.6);
    color: #fff;
    -webkit-backdrop-filter: blur(20px);
    color: #fff;
}

.dark-layout .searchbar:after {
    background-color: #333;
}

.dark-layout .searchbar input[type="search"] {
    background-color: rgba(118, 139, 164, 0.6);
    -webkit-backdrop-filter: blur(20px);
    color: #fff;
}

.dark-layout .searchbar input[type="search"]::-webkit-input-placeholder {
    color: #fff;
}

.dark-layout .list-block input[type="text"], .list-block.dark-layout input[type="text"], .dark-layout .list-block input[type="password"], .list-block.dark-layout input[type="password"], .dark-layout .list-block input[type="email"], .list-block.dark-layout input[type="email"], .dark-layout .list-block input[type="tel"], .list-block.dark-layout input[type="tel"], .dark-layout .list-block input[type="url"], .list-block.dark-layout input[type="url"], .dark-layout .list-block input[type="date"], .list-block.dark-layout input[type="date"], .dark-layout .list-block input[type="datetime-local"], .list-block.dark-layout input[type="datetime-local"], .dark-layout .list-block input[type="number"], .list-block.dark-layout input[type="number"], .dark-layout .list-block select, .list-block.dark-layout select, .dark-layout .list-block textarea, .list-block.dark-layout textarea {
    color: #fff;
}

.dark-layout .label-switch .checkbox {
    background-color: #393939;
}

.dark-layout .label-switch .checkbox:before {
    background-color: #282d3f;
}

.dark-layout .range-slider input[type="range"]:after {
    background: #282d3f;
}

.dark-layout .range-slider input[type="range"]::-ms-thumb {
    border: none;
}

.dark-layout .timeline-item-inner {
    background: #282d3f;
}

.dark-layout .timeline-item-divider {
    background: rgba(255, 255, 255, 0.3);
}

.dark-layout .content-block-inner .timeline-item-inner {
    border-color: #393939;
}

.dark-layout .timeline-item-time {
    color: #8e8e93;
}

.dark-layout .timeline-horizontal .timeline-item-date {
    background-color: #131313;
}

.dark-layout .timeline-horizontal .timeline-item-date:after {
    background-color: #333;
}

.dark-layout .timeline-horizontal .timeline-item:after {
    background-color: #333;
}

.dark-layout .timeline-year-title, .dark-layout .timeline-month-title {
    background-color: #131313;
}

.dark-layout .timeline-month .timeline-item:before {
    background-color: #333;
}

.dark-layout .timeline-year:after {
    background-color: #333;
}

.red-theme .button:not(.button-fill) {
    border-color: #e74c3c;
}

html:not(.watch-active-state) .red-theme .button:not(.button-fill):active, .red-theme .button:not(.button-fill).active-state {
    background-color: rgba(255, 59, 48, 0.15);
}

.red-theme .button:not(.button-fill).active {
    background-color: #e74c3c;
    color: #fff;
}

.red-theme .button.button-fill {
    background: #e74c3c;
    color: #fff;
}

.progressbar.red-theme span, .red-theme .progressbar span {
    background-color: #e74c3c;
}

.progressbar-infinite.red-theme:before, .red-theme .progressbar-infinite:before {
    background-color: #e74c3c;
}

.red-theme i.icon, i.icon.red-theme {
    color: #e74c3c;
}

i.icon-next.color-red, i.icon-next.red-theme, .red-theme i.icon-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2015%2015'%3E%3Cg%3E%3Cpath%20fill%3D'%23e74c3c'%20d%3D'M1%2C1.6l11.8%2C5.8L1%2C13.4V1.6%20M0%2C0v15l15-7.6L0%2C0L0%2C0z'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

i.icon-prev.color-red, i.icon-prev.red-theme, .red-theme i.icon-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2015%2015'%3E%3Cg%3E%3Cpath%20fill%3D'%23e74c3c'%20d%3D'M14%2C1.6v11.8L2.2%2C7.6L14%2C1.6%20M15%2C0L0%2C7.6L15%2C15V0L15%2C0z'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

i.icon-back.color-red, i.icon-back.red-theme, .red-theme i.icon-back {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M10%2C0l2%2C2l-8%2C8l8%2C8l-2%2C2L0%2C10L10%2C0z'%20fill%3D'%23e74c3c'%2F%3E%3C%2Fsvg%3E");
}

i.icon-forward.color-red, i.icon-forward.red-theme, .red-theme i.icon-forward {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2012%2020'%3E%3Cpath%20d%3D'M2%2C20l-2-2l8-8L0%2C2l2-2l10%2C10L2%2C20z'%20fill%3D'%23e74c3c'%2F%3E%3C%2Fsvg%3E");
}

i.icon-bars.color-red, i.icon-bars.red-theme, .red-theme i.icon-bars {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2021%2014'%3E%3Cpath%20fill%3D'%23e74c3c'%20d%3D'M0%2C0h2v2H0V0z%20M4%2C0h17v1H4V0z%20M0%2C6h2v2H0V6z%20M4%2C6h17v1H4V6z%20M0%2C12h2v2H0V12z%20M4%2C12h17v1H4V12z'%2F%3E%3C%2Fsvg%3E");
}

@media (-webkit-min-device-pixel-ratio: 2) {
    i.icon-bars.color-red, i.icon-bars.red-theme, .red-theme i.icon-bars {
        background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2042%2026'%3E%3Cpath%20fill%3D'%23e74c3c'%20d%3D'M0%2C0h4v4H0V0z%20M8%2C1h34v2H8V1z%20M0%2C11h4v4H0V11z%20M8%2C12h34v2H8V12z%20M0%2C22h4v4H0V22z%20M8%2C23h34v2H8V23z'%2F%3E%3C%2Fsvg%3E");
    }
}

.red-theme a, .red-theme .item-link.list-button, .red-theme .list-button {
    color: #e74c3c;
}

.red-theme .tabbar a, .tabbar.red-theme a, .red-theme .tabbar a i, .tabbar.red-theme a i {
    color: inherit;
}

.red-theme .tabbar a.active, .tabbar.red-theme a.active, .red-theme .tabbar a.active i, .tabbar.red-theme a.active i {
    color: #e74c3c;
}

.red-theme .messagebar .messagebar-send-link {
    background-color: #e74c3c;
}

.red-theme label.label-checkbox input[type="checkbox"]:checked+.item-media i.icon-form-checkbox, .red-theme label.label-checkbox input[type="radio"]:checked+.item-media i.icon-form-checkbox, .red-theme .form-checkbox input[type="checkbox"]:checked~i, label.label-checkbox.red-theme input[type="checkbox"]:checked+.item-media i.icon-form-checkbox, label.label-checkbox.red-theme input[type="radio"]:checked+.item-media i.icon-form-checkbox, .form-checkbox.red-theme input[type="checkbox"]:checked~i {
    background-color: #e74c3c;
}

.red-theme .form-radio input[type="radio"]:checked~i, .red-theme label.label-radio input[type="checkbox"]:checked~.item-inner, .red-theme label.label-radio input[type="radio"]:checked~.item-inner, .form-radio.red-theme input[type="radio"]:checked~i, label.label-radio.red-theme input[type="checkbox"]:checked~.item-inner, label.label-radio.red-theme input[type="radio"]:checked~.item-inner {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2013%2010'%3E%3Cpolygon%20fill%3D'%23e74c3c'%20points%3D'11.6%2C0%204.4%2C7.2%201.4%2C4.2%200%2C5.6%204.4%2C10%204.4%2C10%204.4%2C10%2013%2C1.4%20'%2F%3E%3C%2Fsvg%3E");
}

.red-theme .picker-calendar-day.picker-calendar-day-selected span {
    background-color: #e74c3c !important;
}

.red-theme .data-table .data-table-header-selected, .data-table.red-theme .data-table-header-selected {
    background: rgba(255, 59, 48, 0.1);
}

.red-theme .data-table .data-table-title-selected, .data-table.red-theme .data-table-title-selected {
    color: #e74c3c;
}

.swiper-pagination.color-red .swiper-pagination-bullet-active, .red-theme .swiper-pagination .swiper-pagination-bullet-active {
    background-color: #e74c3c;
}

.swiper-pagination.color-red .swiper-pagination-progressbar, .red-theme .swiper-pagination .swiper-pagination-progressbar {
    background-color: #e74c3c;
}

.swiper-pagination.swiper-pagination-progress.bg-red {
    background-color: rgba(255, 59, 48, 0.25);
}

.swiper-button-next.color-red, .swiper-container-rtl .swiper-button-prev.color-red, .red-theme .swiper-button-next, .red-theme .swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23e74c3c'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev.color-red, .swiper-container-rtl .swiper-button-next.color-red, .red-theme .swiper-button-prev, .red-theme .swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23e74c3c'%2F%3E%3C%2Fsvg%3E");
}

.red-theme .floating-button, .red-theme .speed-dial-buttons a, .floating-button.red-theme, .speed-dial-buttons a.red-theme {
    color: #fff;
    background: #e74c3c;
}

html:not(.watch-active-state) .red-theme .floating-button:active, html:not(.watch-active-state) .red-theme .speed-dial-buttons a:active, html:not(.watch-active-state) .floating-button.red-theme:active, html:not(.watch-active-state) .speed-dial-buttons a.red-theme:active, .red-theme .floating-button.active-state, .red-theme .speed-dial-buttons a.active-state, .floating-button.red-theme.active-state, .speed-dial-buttons a.red-theme.active-state {
    background: #ff1407;
}

.red-theme .floating-button i, .red-theme .speed-dial-buttons a i, .floating-button.red-theme i, .speed-dial-buttons a.red-theme i {
    color: inherit;
}

.red-theme .range-slider input[type="range"]::-webkit-slider-thumb:before, .range-slider.red-theme input[type="range"]::-webkit-slider-thumb:before {
    background-color: #e74c3c;
}

.red-theme .range-slider input[type="range"]::-ms-fill-lower, .range-slider.red-theme input[type="range"]::-ms-fill-lower {
    background-color: #e74c3c;
}

.badge.red-theme {
    background-color: #e74c3c;
    color: #fff;
} //common HTML tags
@font-face {
    font-family: Anders;
    src: url(Anders.ttf);
}

@font-face {
    font-family: 'Framework7 Icons';
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Framework7Icons-Regular.eot");
    src: local('Framework7 Icons'), local('Framework7Icons-Regular'), url("../fonts/Framework7Icons-Regular.woff2") format("woff2"), url("../fonts/Framework7Icons-Regular.woff") format("woff"), url("../fonts/Framework7Icons-Regular.ttf") format("truetype"), url("../fonts/Framework7Icons-Regular.svg") format("svg");
}

.f7-icons, .framework7-icons {
    font-family: 'Framework7 Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    font-feature-settings: "liga";
}

body {
    font-family: Helvetica, Arial, ;
}

.newstabicon {
    height: 13em;
    width: 13em;
    border-radius: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.item-media {
    border-radius: 25px;
}

.newstitle {
    margin-top: 30px;
    text-align: center;
    font-family: Anders;
}

.appinstallicon {
    border-radius: 25%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 10em;
    width: 10em;
    box-shadow: 0px 0px 20px 2px black;
}

.installbutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 1em;
    width: 160px;
    margin-bottom: 10px;
}

.sharebutton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    width: 150px;
    background-color: #0083ff;
    text-align: center;
    border-radius: 21px;
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    color: white;
    margin-bottom: 10px;
}

.category {
    border-radius: 22px;
}

.changelog {
    height: 50px;
    width: 50px;
    margin-left: 0.5em;
    margin-right: 2em;
}

.versionchange {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.appstatus {
    border-radius: 50%;
}

#newstabicon {
    -webkit-animation-duration: 8s;
    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
}

.tweakboxcreators {
    text-align: center;
}

.usefullinks {
    border-radius: 21%;
}

.happinessscroll {
    color: red;
}

.titleimage {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 2.5em;
    margin-bottom: 2em;
    width: 20em;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.animationicon {
    display: block;
    height: 15em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50%;
}

.animationtitle {
    margin-top: 2em;
    height: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.stars {
    margin-left: auto;
    margin-right: auto;
}

#cf {
    position: relative;
    height: 13em;
    width: 13em;
    margin: 0 auto;
}

#cf img {
    position: absolute;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#cf img.top:hover {
    opacity: 0;
}

.size-22 {
    font-size: 22px
}

.size-25 {
    font-size: 25px
}

.size-29 {
    font-size: 29px
}

.size-50 {
    font-size: 50px
}

.universalsearch {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 11%;
    width: 90%;
}

.dmca-badge {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.color-red {
    color: #FF3A2F
}

.redg {
    background: #ff2a68;
    background: -moz-linear-gradient(45deg, #ff2a68 0%, #ff5e3a 100%) !important;
    background: -webkit-linear-gradient(45deg, #ff2a68 0%, #ff5e3a 100%) !important;
    background: linear-gradient(45deg, #ff2a68 0%, #ff5e3a 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff2a68', endColorstr='#ff5e3a', GradientType=1) !important;
}

.orangeg {
    background: #ff9500;
    background: -moz-linear-gradient(45deg, #ff9500 0%, #ff5e3a 100%) !important;
    background: -webkit-linear-gradient(45deg, #ff9500 0%, #ff5e3a 100%) !important;
    background: linear-gradient(45deg, #ff9500 0%, #ff5e3a 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff9500', endColorstr='#ff5e3a', GradientType=1) !important;
}

.yellowg {
    background: #ffdb4c;
    background: -moz-linear-gradient(45deg, #ffdb4c 0%, #ffcd02 100%) !important;
    background: -webkit-linear-gradient(45deg, #ffdb4c 0%, #ffcd02 100%) !important;
    background: linear-gradient(45deg, #ffdb4c 0%, #ffcd02 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdb4c', endColorstr='#ffcd02', GradientType=1) !important;
}

.greeng {
    background: #87fc70;
    background: -moz-linear-gradient(45deg, #87fc70 0%, #0bd318 100%) !important;
    background: -webkit-linear-gradient(45deg, #87fc70 0%, #0bd318 100%) !important;
    background: linear-gradient(45deg, #87fc70 0%, #0bd318 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#87fc70', endColorstr='#0bd318', GradientType=1) !important;
}

.lightblueg {
    background: #52edc7;
    background: -moz-linear-gradient(45deg, #52edc7 0%, #5ac8fb 100%) !important;
    background: -webkit-linear-gradient(45deg, #52edc7 0%, #5ac8fb 100%) !important;
    background: linear-gradient(45deg, #52edc7 0%, #5ac8fb 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#52edc7', endColorstr='#5ac8fb', GradientType=1) !important;
}

.blueg {
    background: #1ad6fd;
    background: -moz-linear-gradient(45deg, #1ad6fd 0%, #1d62f0 100%) !important;
    background: -webkit-linear-gradient(45deg, #1ad6fd 0%, #1d62f0 100%) !important;
    background: linear-gradient(45deg, #1ad6fd 0%, #1d62f0 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1ad6fd', endColorstr='#1d62f0', GradientType=1) !important;
}

.blue-purple {
    background: #4776E6 !important;
    background: -moz-linear-gradient(45deg, #4776E6 0%, #8E54E9 100%) !important;
    background: -webkit-linear-gradient(45deg, #4776E6 0%, #8E54E9 100%) !important;
    background: linear-gradient(45deg, #4776E6 0%, #8E54E9 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4776E6', endColorstr='#8E54E9', GradientType=1) !important;
}

.shadow {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.smallshadow {
    -webkit-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.6);
    box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 0.6);
}
